<% content_for :gazou do %>
<%= image_tag 'toshi8.jpg',class:'toshisize'%>
<% end %>
<% content_for :bunsyo do %>
<h1 class="masthead-heading text-uppercase mb-0">今はつらいよね。でもおれはずっとそばにいるから</h1>
<% end %>
<% content_for :button do %>
    <div>
            <%= button_to '戻る', {controller: 'hello', action: 'show'}, {method: :get, class: 'btositai'} %>
  
    </div>
<% end %>
