
<% content_for :gazou do %>
<style>
  html, body {margin:0;padding:0;}
  @font-face { font-family:f0; src:url('cloock-black.svg#cloock-black') format('svg'); }
  @font-face { font-family:f1; src:url('cloock-cloock.svg#cloock-cloock') format('svg'); }
  @font-face { font-family:f2; src:url('cloock-roman.svg#cloock-roman') format('svg'); }
  @font-face { font-family:f3; src:url('cloock-script.svg#cloock-script') format('svg'); }
  @font-face { font-family:f4; src:url('cloock-type.svg#cloock-type') format('svg'); }
  #roulette-box .f0 {font-family:f0}
  #roulette-box .f1 {font-family:f1}
  #roulette-box .f2 {font-family:f2}
  #roulette-box .f3 {font-family:f3}
  #roulette-box .f4 {font-family:f4}

  #roulette-box {position:absolute; top:10px; left:10px; width:300px; height:300px;
  border-radius:150px; border:1px solid #999; box-shadow:inset 0 0 5px 0 rgba(0,0,0,.4); background:#ccc;
  }
  #roulette-box>div {position:absolute; top:0; left:110px; width:80px; height:120px;
  text-align:center; font-size:90px;
  -o-transform-origin:50% 150px;
  -webkit-transform-origin:50% 150px;
  -moz-transform-origin:50% 150px;
  transform-origin:50% 150px;
  }
  .opera #roulette-box>div {line-height:.8}
  .webkit #roulette-box>div {line-height:1.2}
  .moz #roulette-box>div {line-height:1}
  #roulette-box #roulette-number-0 {-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);
  transform:rotate(0deg);}
  #roulette-box #roulette-number-1 {-o-transform:rotate(36deg);-webkit-transform:rotate(36deg);-moz-transform:rotate(36deg);
  transform:rotate(36deg);}
  #roulette-box #roulette-number-2 {-o-transform:rotate(72deg);-webkit-transform:rotate(72deg);-moz-transform:rotate(72deg);
  transform:rotate(72deg);}
  #roulette-box #roulette-number-3 {-o-transform:rotate(108deg);-webkit-transform:rotate(108deg);-moz-transform:rotate(108deg);
  transform:rotate(108deg);}
  #roulette-box #roulette-number-4 {-o-transform:rotate(144deg);-webkit-transform:rotate(144deg);-moz-transform:rotate(144deg);
  transform:rotate(144deg);}
  #roulette-box #roulette-number-5 {-o-transform:rotate(179.9deg);-webkit-transform:rotate(179.9deg);-moz-transform:rotate(179.9deg);
  transform:rotate(179.9deg);}
  #roulette-box #roulette-number-6 {-o-transform:rotate(-144deg);-webkit-transform:rotate(-144deg);-moz-transform:rotate(-144deg);
  transform:rotate(-144deg);}
  #roulette-box #roulette-number-7 {-o-transform:rotate(-108deg);-webkit-transform:rotate(-108deg);-moz-transform:rotate(-108deg);
  transform:rotate(-108deg);}
  #roulette-box #roulette-number-8 {-o-transform:rotate(-72deg);-webkit-transform:rotate(-72deg);-moz-transform:rotate(-72deg);
  transform:rotate(-72deg);}
  #roulette-box #roulette-number-9 {-o-transform:rotate(-36deg);-webkit-transform:rotate(-36deg);-moz-transform:rotate(-36deg);
  transform:rotate(-36deg);}
  
  #roulette-box+#roulette-pointer {position:absolute; top:80px; left:80px;}
  #roulette-box+#roulette-pointer+#roulette-toggle {
  position:absolute; top:136px; left:110px; width:100px; margin:0; padding:12px 0;
  font-size:24px; font-family:courier; color:#aaa; text-align:center; cursor:pointer;
  }
  #roulette-box>div { color:black }
  #roulette-box.blink0>div:first-child, #roulette-box.blink2>div:first-child {
  -o-transition:color .3s;
  -webkit-transition:color .3s;
  -moz-transition:color .3s;
  transition:color .3s;
  color:red;
  }
  #roulette-box.blink1>div:first-child,  #roulette-box>div {
  -o-transition:color .15s;
  -webkit-transition:color .15s;
  -moz-transition:color .15s;
  transition:color .15s;
  color:black;
  }
</style>
<div style=position:relative;width:320px;height:320px;overflow:hidden>
  <div id=roulette-box>
    <div id=roulette-number-0 class=f0>0</div>
    <div id=roulette-number-1 class=f1>1</div>
    <div id=roulette-number-2 class=f2>2</div>
    <div id=roulette-number-3 class=f3>3</div>
    <div id=roulette-number-4 class=f4>4</div>
    <div id=roulette-number-5 class=f0>5</div>
    <div id=roulette-number-6 class=f1>6</div>
    <div id=roulette-number-7 class=f2>7</div>
    <div id=roulette-number-8 class=f3>8</div>
    <div id=roulette-number-9 class=f4>9</div>
  </div>
  <canvas id=roulette-pointer width=160 height=160></canvas>
  <p id=roulette-toggle>START</p>
  
  <script>
(function() {
    for (var prop in document.documentElement.style)
	if (/^(O|Moz|webkit)/.test(prop)) break
    switch (prop.substr(0,1)) {
    case 'O':
	document.documentElement.className = 'opera'; break
    case 'M':
	document.documentElement.className = 'moz'; break
    case 'w':
	document.documentElement.className = 'webkit'; break
    }

    var main = document.body
    while (main = main.lastChild) if (main.nodeName == 'SCRIPT') break
    var canvas = main.parentNode.querySelector('#roulette-pointer')
    if (!canvas) return
    draw(canvas.getContext('2d'), canvas.width)
    function draw(c, w) {
	var offset = 22
	c.shadowColor = 'rgba(0,0,0,.7)'
	c.shadowOffsetX = c.shadowOffsetY = 0
	c.shadowBlur = 10
	c.save()
	c.translate(w/2, w/2)
	arc()
	c.restore();c.save()
	c.translate(w/2, offset+1)
	pointer()
	c.restore();c.save()
	c.shadowBlur = 0
	c.translate(w/2, w/2)
	arc()
	function arc() {
	    c.beginPath()
	    c.arc(0,0, w/2-offset, 0,Math.PI*2, true)
	    c.fillStyle = 'white'
	    c.fill()
	}
	function pointer() {
	    c.beginPath()
	    c.moveTo(-12,0);c.lineTo(0,-18);c.lineTo(12,0)
	    c.closePath()
	    c.fillStyle = 'white'
	    c.fill()
	}
    }
    var timer, count = 0, toggle = main.parentNode.querySelector('#roulette-toggle'),
    mainBox = main.parentNode.querySelector('#roulette-box'),
    boxes = [].slice.call(mainBox.querySelectorAll('div'))
    function update(numBox) {
	var n = numBox.textContent *1 -1
	if (n < 0) n = 9
	numBox.textContent = n
	numBox.className = 'f' + Math.floor(Math.random() *5)
    }
    function succ() {
	for (var i=0; i<10; i++)
	    update(boxes[i])
	count++
    }
    function startOrStop(e) {
	if (!timer) {
	    timer = window.setInterval(succ, 50)
	    toggle.textContent = 'STOP'
	    mainBox.className = ''
	}else {
	    window.clearInterval(timer)
	    timer = null
	    toggle.textContent = 'START'
	    mainBox.className = 'blink0'
	}
    }
    function blink(e) {
	if (this.className == 'blink2') this.className = ''
	else this.className = 'blink' + (this.className.substr(-1)*1 + 1)
    }
    toggle.addEventListener('click', startOrStop, false)
    mainBox.addEventListener(transitionEvent(document.documentElement.className), blink, false)
    function transitionEvent(n) {
	if (n == 'opera') return 'otransitionend'
	else if (n == 'webkit') return 'webKitTransitionEnd'
	return 'transitionend'
    }
})()
function getPicture(){
    let num=document.getElementById("roulette-number-0").textContent;
    location.href=location.pathname+'/'+num;
}
  </script>
</div>
<% end %>
                <!-- Masthead Avatar Image-->
<% content_for :bunsyo do %>
<h1 class="masthead-heading text-uppercase mb-0">トシルーレット</h1>
<% end %>

<% content_for :button do %>
                <div>
                    <form action="">
                      <button type="button" onclick="getPicture()" class="btositai">結果を見る</button>
                    </form>
              
                </div>
<% end %>